body{
background-image: url("background.png");
width: auto;
}

.titulo{
    font-family: 'Londrina Solid', cursive;
    font-size: 20vh;
}

.textocentrado{
    text-align: center;
}

.imagencentrado{
    display:block;
    margin:auto;
}

.botoncentrado{
    display: flex;
    justify-content: center;
}

.contenedorgrafico{
    height: 300px; 
    width: 100%;
}

.tamaño{
    width: 25vh;
}